<div class="fluid">
    <ul class="list">
        <li class="list1"><b>TRITEK</b></li>
        <li class="list2">Consulting Ltd</li>
    </ul>
    <div class="card">
        <div class="card-header">
            <h5 class="head">Reset Passwords</h5>
            <div class="card-body">
                <form class="form-horizontal" autocomplete="off" [formGroup]="resetPassword" (ngSubmit)="submit()" autocomplete="off">
                    <p class="info">Enter your registered email below to get Password Reset OTP in your email</p>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputResetEmail1" placeholder="Input Email Address" formControlName="resetMail">
                        </div>
                    </div><br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-light" [disabled]="!resetPassword.valid" (click)="submit()">Request OTP</button>
                        </div>
                    </div>
                </form><br>
                <div class="form-group" id="logins">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-light" (click)="toLoginPage()">Login Page</button>
                    </div>
                </div>
            </div>
        </div>

    </div><br>
    <span class="list">
  copyright © 2022 &nbsp;<a class="text-dark" href="https://tritekconsulting.co.uk">Tritek Consulting Limited</a>
</span>
</div>