.fluid {
    padding: 110px;
}

.card {
    width: 470px;
    background-color: rgb(25, 25, 56);
    color: white;
    margin: auto;
}

p.info {
    color: #E8E8E8;
    font-size: medium;
}

#rowlet {
    width: 550px;
}

h5.head {
    margin-left: 115px;
    font-size: xx-large;
    color: #ccae2c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.admin {
    margin-left: 350px;
    margin-top: -20px;
}

#admin {
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}

#admin:hover {
    text-decoration: overline;
    color: #4040a7;
    cursor: pointer;
}

.form-control {
    width: 400px;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(190, 187, 187, 0.35);
}

.mat-toolbar {
    background-color: rgb(25, 25, 56);
}

div.ref {
    margin-left: 267px;
    margin-top: -55px;
}

#submit {
    color: white;
    background-color: #191938;
    font-size: small;
}

#hovera {
    color: white;
    background-color: #191938;
    font-size: small;
}

li {
    list-style: none;
}

.list {
    margin-left: 457px;
}

.list1 {
    font-size: xx-large;
    color: #191938;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.list2 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.text-dark {
    text-decoration: none;
}

.text-dark:hover {
    text-decoration: underline;
    color: #ccae2c;
}