#card {
    margin-left: 213px;
    position: relative;
    margin-top: -580px;
    height: 539px;
    width: 1140px;
}

h2 {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 10px;
    color: #ccae2c;
}

.main-content {
    margin-top: 10px;
    margin-left: 25px;
}