<div class="card">
    <div class="card-header">
        <h2 mat-dialog-title id="title">Add New User</h2>
    </div>
    <div class="card-body">
        <mat-dialog-content>
            <form autocomplete="off" [formGroup]="newUserForm" (ngSubmit)="submit()">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="username">Username</label><br><br>
                                <input type="text" class="form-control" id="userName" placeholder="Input User Name" formControlName="userName">
                            </div><br>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="webMail">Email</label><br><br>
                                <input type="email" class="form-control" id="webMail" placeholder="Input Email" formControlName="webMail">
                            </div><br>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="form-group">
                                <label for="firstName">First Name</label><br><br>
                                <input type="text" class="form-control" id="firstName" placeholder="Input first Name" formControlName="firstName">
                            </div><br>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="lastName">Last Name</label><br><br>
                                <input type="text" class="form-control" id="lastName" placeholder="Input last name" formControlName="lastName">
                            </div><br>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="form-group">
                                <label for="accountStatus">Account status</label><br><br>
                                <select id="accountStatus" formControlName="accountStatus">
                                  <option value="" >- -</option>
                                  <option value="activate">Activated</option>
                                  <option value="deactivate">Deactivated</option>
                                </select>
                            </div><br>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="userRole">User's Role</label><br><br>
                                <select id="userRole" formControlName="userRole">
                              <option value="" >- -</option>
                              <option value="Admin">Admin</option>
                              <option value="Candidate">Candidate</option>
                            </select>
                            </div><br>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="form-group">
                                <label for="password">Password</label><br>
                                <input type="password" class="form-control" id="password" placeholder="Input password" formControlName="password">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Confirmpassword">Confirm Password</label><br>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword">
                            </div>
                        </div>
                        <div class="w-100"></div><br>
                        <div class="form-group" id="fileUpload">
                            <label for="exampleFormControlFile1"> <small id="small">Upload profile Picture JPEG,PNG</small></label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="profilePicture">
                        </div>
                        <div class="form-group" id="submit">
                            <button type="submit" class="btn btn-primary" id="newUser" [disabled]="!newUserForm.valid" (click)="submit()">
                            Submit
                        </button>
                        </div>


                    </div>
                </div>
            </form>
        </mat-dialog-content>
    </div>
    <div class="card-footer text-muted">
        <mat-dialog-actions>
            <div class="buttons">
                <span>
              <button class="btn btn-primary" id="newUser">
                keep
            </button>&nbsp;
            <button class="btn btn-primary" mat-button id="newUser" mat-dialog-close="false">
              Close
          </button>
            </span>
            </div>
        </mat-dialog-actions>
    </div>
</div>