#card {
    margin-left: 210px;
    position: relative;
    margin-top: -550px;
    height: 500px;
    width: 1150px;
}

h2 {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 10px;
    color: #ccae2c;
}

button {
    background-color: white;
    color: black;
}

button:hover {
    background-color: #293986;
}

.form-group {
    margin-left: 800px;
    margin-top: -40px;
}

.form-control {
    width: 320px;
}

.main-content {
    margin-top: 10px;
    margin-left: 25px;
}