<div class="body">
    <div class="selector">
        <app-selector></app-selector>
    </div>
    <div class="card" id="card">
        <div class="card-header">
            <h2>Tasks</h2>
            <button class="btn btn-primary" (click)="routeToChannel()">create channel</button>
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Search...">
            </div>
        </div>
        <div class="main-content">
            <span>You've not been assigned to a channel yet. Kindly contact the Admin!</span>
        </div>
    </div>
</div>
