#title {
    color: #ccae2c;
}

#newUser {
    color: #293986;
    background-color: white;
    font-size: small;
}

#newUser:hover {
    color: white;
    background-color: #293986;
}

.buttons {
    margin-top: -20px;
    margin-left: -3px;
}

label {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select {
    width: 200px;
    height: 35px;
    border-radius: 2px;
}

.form-group {
    width: 200px;
}

.form-control {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

option {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#small {
    font-size: x-small;
}

#submit {
    margin-left: 325px;
    margin-top: 15px
}

#todaysDate {
    margin-left: -30px;
}

#submit {
    margin-left: 400px;
}

#imageShow {
    width: 200px;
    height: 150px;
    border-style: solid;
    border-color: #f5f5f5;
}

#imageRow {
    width: 400px;
}

#moveImage {
    margin-top: -80px;
    margin-left: 100px;
}

#imageMove {
    margin-left: 200px;
}

// #fileUpload {
//     text-align: center;
// }
