<div class="body">
    <div class="selector">
        <app-utilities></app-utilities>
    </div>
    <div class="card" id="card">
        <div class="card-header">
            <h2>Platform Users</h2>
            <span>
              <button class="btn btn-primary" id="newUser" (click)="popUpDialog()">Create User</button>&nbsp;
              <button class="btn btn-primary" id="newUser" (click)="routeToViewList()">View List</button>
            </span>
        </div>
        <div class="main-content">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="User Search..." name="filterString" [(ngModel)]="filterString">
            </div><br>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" id="head">Id</th>
                        <th scope="col" id="head">Passport Id</th>
                        <th scope="col" id="head">Full Name</th>
                        <th scope="col" id="head">Username</th>
                        <th scope="col" id="head">Role</th>
                        <th scope="col" id="hidden"></th>
                        <th scope="col" id="hidden"></th>
                        <th scope="col" id="hidden"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users  | filter: filterString | paginate: { itemsPerPage: 6, currentPage: p }; let i=index;">
                        <th scope="row">{{user.userId}}</th>
                        <td><img src="{{user.profilePicture}}" height="100px"></td>
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.userRole}}</td>
                        <td id="icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" (click)="editUser(user)">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                        </td>
                        <td id="icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16" (click)="viewUsersProfile(user)">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          </svg>
                        </td>
                        <td id="icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="deleteUser(user)">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

        </div>
    </div>
</div>
