#card {
    margin-left: 213px;
    position: relative;
    margin-top: -580px;
    height: 462px;
    width: 940px;
}

h2 {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 10px;
    color: #ccae2c;
}

.main-content {
    margin-top: 10px;
    margin-left: 25px;
}

#footerbtn {
    margin-left: 690px;
    width: 200px;
}

label {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

select {
    width: 250px;
    height: 35px;
    border-radius: 2px;
}

.form-control {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group {
    width: 250px;
}

#newUser {
    color: #293986;
    background-color: white;
    font-size: small;
    // margin-left: 770px;
}

#newUser:hover {
    color: white;
    background-color: #293986;
}

#footer {
    height: 70px;
}

#submit {
    margin: 0 auto;
    width: 50%;
}

////////////////////////////////////////////////////////////////////////////////////////////////Table Test!
